<div class="latest-blog">
  <div class="latest-blog__image-wrapper no-padding--left no-padding--right">    
    <img src="{{g.static(partial.mainImage).url.path}}" alt="" class="latest-blog__main-image">
  </div>
  <div class="latest-blog__content-wrapper no-padding--left">
    <h2 class="latest-blog__title small semibold">{{_(partial.title)}}</h2>
    <p class="large light latest-blog__summary">{{_(partial.summary)}}</p>
    <button class="button latest-blog__cta">Read More</button>
  </div>
</div>